<div id="<%= dom_id solde %>">
  <p>
    <strong>Campagne:</strong>
    <%= solde.campagne %>
  </p>

  <p>
    <strong>User:</strong>
    <%= solde.user_id %>
  </p>

  <p>
    <strong>Tractor:</strong>
    <%= solde.tractor_id %>
  </p>

  <p>
    <strong>Cout unitaire:</strong>
    <%= solde.cout_unitaire %>
  </p>

  <p>
    <strong>Superficie labouree:</strong>
    <%= solde.superficie_labouree %>
  </p>

  <p>
    <strong>Montant prestation:</strong>
    <%= solde.montant_prestation %>
  </p>

</div>
