

<div class="header">
    <div class="header-left">
        <a href="index-2.html" class="logo">
        <%= image_tag 'logo.png', width: "100px", style:"margin-top: 15px;" %>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);" style="color:#073861"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    
        <ul class="nav user-menu float-right respon__none">

            <li class="nav-item dropdown has-arrow show">
                <a href="#" class="dropdown-toggle nav-link user-link text-dark" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="user-img">
                            <%=image_tag('user.jpg', class:"rounded-circle", width:"24")%>
                    </span>
                    <span><%=current_user.nom%></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="<%=dashboard_profile_path%>">Mon Profile</a>
                    <a class="dropdown-item" href="<%=edit_user_path(current_user)%>">Modifier Profile</a>
                    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
            </li>
        </ul>

    <div class="dropdown mobile-user-menu float-right">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="user-img">
                    <%=image_tag('user.jpg', class:"rounded-circle", width:"24")%>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="<%=dashboard_profile_path%>">Mon Profile</a>
            <a class="dropdown-item" href="<%=edit_user_path(current_user)%>">Modifier Profile</a>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </div>
</div>
