
<div class="container mt-2 mb-5">
  <div class="row mb-4">
    <div class="col text-end">
      <%= link_to "Nouvelle service", new_service_request_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card shadow-lg border-0">
    <div class="card-header btn-cdae text-white">
      <h4><i class="fas fa-seedling"></i> Demandes de Service</h4>
    </div>
    <div class="card-body table-responsive">


<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Utilisateur</th>
      <th>Superficie (ha)</th>
      <th>Herbicides et Quantités</th>
      <th>Garantie totale (FCFA)</th>
      <th>Kg Soja remboursé</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @service_requests.each do |service_request| %>
      <tr>
        <td><%= service_request.id %></td>
        <td><%= service_request.user.nom %></td>
        <td><%= service_request.superficie %></td>
        <td>
          <% if service_request.service_request_herbicides.any? %>
            <ul>
              <% service_request.service_request_herbicides.each do |sr_herbicide| %>
                <li>
                  <strong>Nom :</strong> <%= sr_herbicide.herbicide.nom %>,
                  <strong>Quantité :</strong> <%= sr_herbicide.quantite %> L
                </li>
              <% end %>
            </ul>
          <% else %>
            Aucun herbicide associé
          <% end %>
        </td>
        <td>
          <%= number_to_currency(
                service_request.garantie, 
                unit: "FCFA"
              ) %>
        </td>
        <td>
          <%= service_request.kg_paye %> Kg
        </td>
        <td><%= service_request.status %></td>
        <td>
          <%= link_to 'Voir', service_request_path(service_request) %>
          <%= link_to 'Modifier', edit_service_request_path(service_request) %>
          <%= link_to 'Supprimer', service_request_path(service_request), 
                      method: :delete, 
                      data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette demande ?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
  <div class="d-flex mt-4" style="justify-content:space-between;">
    <div>
      <%= page_entries_info @service_requests, entry_name: "Demandes de service" %>
    </div>
    <div>
      <%= paginate @service_requests %>
    </div>
  </div>
</div>


