
<div class="container mt-2 mb-5">
  <div class="row mb-4">
    <div class="col text-end">
      <%= link_to "Nouvelle service", new_service_request_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card shadow-lg border-0">
    <div class="card-header btn-cdae text-white">
      <h4><i class="fas fa-seedling"></i> Demandes de Service</h4>
    </div>
    <div class="card-body table-responsive">


<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Utilisateur</th>
      <th>Superficie (ha)</th>
      <th>Herbicides et Quantités</th>
      <th>Garantie totale (FCFA)</th>
      <th>Kg Soja remboursé</th>
      <th>Payement</th>
      <th>Recepteur payement</th>
      <th>Status</th>
      <th>Actions</th>
       <%if current_user.role != "agriculteur" %>
      <th>#</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @service_requests.each do |service_request| %>
      <tr>
        <td><%= service_request.id %></td>
        <td><%= service_request.user.full_name %></td>
        <td><%= service_request.superficie %></td>
        <td>
          <% if service_request.service_request_herbicides.any? %>
            <ul>
              <% service_request.service_request_herbicides.each do |sr_herbicide| %>
                <li>
                  <strong>Nom :</strong> <%= sr_herbicide.herbicide.nom %>,
                  <strong>Quantité :</strong> <%= sr_herbicide.quantite %> L
                </li>
              <% end %>
            </ul>
          <% else %>
            Aucun herbicide associé
          <% end %>
        </td>
        <td>
          <%= number_to_currency(
                service_request.garantie, 
                unit: "FCFA"
              ) %>
        </td>
        <td>
          <%= service_request.kg_paye %> Kg
        </td>
        <td><%= service_request.status_payement %></td>
        <td>
          <%if service_request.status == "paid"  %>
            <%=service_request.recu_par%>
          <%else%>
          <p>----</p>
          <%end%>
        </td>
       
        <td>
           <%if service_request.status_request == 'pending'%>
           <span class="badge badge-warning"> En attente </span>
         <% elsif service_request.status_request == 'confirm'%>
            <span class="badge badge-primary">Validé</span>
         <% elsif service_request.status_request ==  'execute'%>
             <span class="badge badge-success"> Executé</span>
         <% else%>
            <span class="badge badge-danger">Rejeté</span>
          <%end%>
       </td>

        <td class="text-center">
          
          <%= link_to 'Détail', service_request_path(service_request), class: 'btn btn-sm btn-primary' %>
          <%if current_user.role == "agriculteur" && service_request.status_request == 'pending' %>
            <%= link_to 'Editer', edit_service_request_path(service_request), class: 'btn btn-sm btn-warning' %>
          <%else%>
            <%= link_to 'Editer', edit_service_request_path(service_request), class: 'btn btn-sm btn-warning' %>
          <%end%>
          <%= link_to 'Supprimer', service_request_path(service_request), 
                      method: :delete, 
                      data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette demande ?' }, class: 'btn btn-sm btn-danger' %>
        </td>
        <%if current_user.role != "agriculteur" %>
         <td>
          <%= form_with(model: service_request, url: update_status_service_request_path(service_request), method: :patch, remote: true, class: "update-status-form") do |form| %>
            <%= form.select :status_request, options_for_select([['En attente', 'pending'], ['Validé', 'confirm'], ['Executé', 'execute'], ['Rejeté', 'rejected']], service_request.status_request), { class: 'form-control' }, { onchange: 'this.form.submit()' } %>
          <% end %>
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
  <div class="d-flex mt-4" style="justify-content:space-between;">
    <div>
      <%= page_entries_info @service_requests, entry_name: "Demandes de service" %>
    </div>
    <div>
      <%= paginate @service_requests %>
    </div>
  </div>
</div>


<script>
  $(document).on('ajax:success', '.update-status-form', function(event) {
  const data = event.detail[0];
  const statusCell = $(this).closest('tr').find('td.status');
  statusCell.text(data.status);
});

</script>