
<div class="container mt-2 mb-5">
  <div class="row mb-4">
    <div class="col text-center">
      <h2>Tableau synoptique</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <%= form_with url: synoptique_path, method: :get, local: true, class: "formSearch form-inline" do %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2">
                      <%= text_field_tag :search, params[:search], class: "search_nom form-control", placeholder: "Recherche par nom/prénom" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2">
                      <%= text_field_tag :campagne, params[:campagne], class: "search_nom form-control", placeholder: "Recherche par campagne" %>
                    </div>
                  </div>
                </div>

                  <div class="d-flex" style="justify-content:space-between">
                    <div class="d-flex">
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2  me-2">
                        <%= submit_tag "Rechercher", class: "btn btn-primary" %>
                      </div>
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2">
                        <a href=<%= synoptique_path %> type="bouton" class="btn btn-light">Effacer</a>
                      </div>
                    </div>
                    <div>
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2  me-2">
                        <%= link_to "Aller à l'impression", print_synoptique_service_request_service_requests_path(request.query_parameters), class: "copy-btn text-danger" %>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
  </div>

  <div class="card shadow-lg border-0">
    <div class="card-body table-responsive">
      
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Campagne</th>
            <th>Numero client</th>
            <th>Nom de Client</th>
            <th>Superficie (ha)</th>
            <th>Herbicides</th>
            <th>Quantité due</th>
            <th>Montant accordé</th>

      
          </tr>
        </thead>
        <tbody>
           <% total_general = 0 %>
           <% total_superficie = 0%>
           <% quantit_due = 0 %>
          <% @service_requests.each do |service_request| %>
            <tr>
              <td><%= service_request.campagne%> - <%= service_request.campagne + 1%></td>
              <td><%= service_request.user.identification  %></td>
              <td><%= service_request.user.full_name %></td>
              <td>
                <%= service_request.superficie %>
                <% @total_superficie = service_request.superficie %>
                
                </td>
              </td>
              <td>
                <% if service_request.service_request_herbicides.any? %>
                  <ul>
                    <% total_herbicides = 0 %>
                    <% service_request.service_request_herbicides.each do |sr_herbicide| %>
                      <li>
                        <%= sr_herbicide.herbicide.nom %>,
                         <%= sr_herbicide.quantite %> 
                        <span>
                          <% @total_herbicide = sr_herbicide.quantite * sr_herbicide.herbicide.prix_achat %>
                        </span>
                      </li>
                      <% total_herbicides += @total_herbicide %>
                    <% end %>
                     
                  </ul>
                <% else %>
                  0
                <% end %>
              </td>
              <td>
                <%= service_request.kg_paye %> Kg
                <% @quantit_due = service_request.kg_paye %>
              </td>
              <td>
                   <%total_global =  (@indice_setting.valeur_superficie * service_request.superficie.to_f) + total_herbicides.to_f %>
                   <%=total_global%>
                    <% total_general += total_global%>
              </td>
               
            </tr>
            <% total_superficie += @total_superficie.to_f %>
            <%= quantit_due += @quantit_due.to_i%>
          <% end %>
          <tr>
            <td colspan="2" style="text-align: center;font-weight: bolder;"> Total général</td>
            <td  style="font-weight: bolder;"><%= total_superficie %></td>
            <% grouped_herbicides = @service_requests.flat_map(&:service_request_herbicides).group_by { |sr_herbicide| sr_herbicide.herbicide.nom } %>

            <td style="font-weight: bolder;">
               <% grouped_herbicides.each do |herbicide_nom, sr_herbicides| %>
               <%= herbicide_nom %> : <%= sr_herbicides.sum(&:quantite) %> <br>
               <%end%>
            </td>
            <td style="font-weight: bolder;"><%= quantit_due%> Kg</td>
            <td style="font-weight: bolder;"><%=total_general%></td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
