<div id="<%= dom_id remboursement %>">
  <p>
    <strong>User:</strong>
    <%= remboursement.user_id %>
  </p>

  <p>
    <strong>Type remboursement:</strong>
    <%= remboursement.type_remboursement %>
  </p>

  <p>
    <strong>Valeurs:</strong>
    <%= remboursement.valeurs %>
  </p>

  <p>
    <strong>Credite par:</strong>
    <%= remboursement.credite_par_id %>
  </p>

</div>
