
<div class="container mt-2">
  <div class="row mb-4">
    <div class="col text-end">
      <%= link_to "Nouveau remboursement", new_remboursement_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card shadow-lg border-0">
    <div class="card-header btn-cdae text-white">
      <h4><i class="fas fa-seedling"></i> Les remboursements</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Agriculteur</th>
            <th>Campagne</th>
            <th>Type de Remboursement</th>
            <th>Quantité Soja</th>
            <th>Quantité Maïs</th>
            <th>Crédité par</th>
            <th>Remboursé le</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @remboursements.each_with_index do |remboursement, index| %>
          <!-- Modal dette global-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Détail des sacs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% remboursement.remboursement_details.each do |detail| %>
        <div>
        <%= detail.sac %> :  <%= detail.valeur_kg %> kg
        </div>
        <hr>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermé</button>
      </div>
    </div>
  </div>
</div>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= remboursement.user.full_name %></td>
              <td><%=remboursement.year%></td>
              <td>
                <%if remboursement.type_remboursement == "Remb/mais"%>
                  Remb/maïs
                <%else%>
                  <%= remboursement.type_remboursement.capitalize %>
                <%end%>
              </td>
              <td>
                 <%if remboursement.type_remboursement == "Remb/mais"%>
                  <del class="text-danger">
                    <%= remboursement.valeurs %> <%= remboursement.type_remboursement == "numeraire" ? "FCFA" : "Kg de soja" %>
                  </del> 
                <%else%>
                <%= remboursement.valeurs %> <%= remboursement.type_remboursement == "numeraire" ? "FCFA" : "Kg de soja" %>
                <%end%>

                  <% if remboursement.remboursement_details.any? %>
                    <button type="button" class="btn btn-xs btn-secondary" data-toggle="modal" data-target="#exampleModalCenter2">
                        <i class="fa fa-info"></i>
                    </button>
                  <%end%>

              </td>
              <td> <%=remboursement.mais_recuperer%> <%if remboursement.mais_recuperer.present?%>Kg de maïs<%else%>-- <%end%></td>
              <td><%= remboursement.credite_par.full_name %></td>
              <td><%= remboursement.created_at %></td>
              <td>
                <div class="btn-group" role="group">
                  <%#= link_to 'Voir', remboursement_path(remboursement), class: "btn btn-info btn-sm" %>
                  <%= link_to 'Modifier', edit_remboursement_path(remboursement), class: "btn btn-warning btn-sm" %>
                  <%#= link_to 'Supprimer', remboursement_path(remboursement), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce remboursement ?' }, class: "btn btn-danger btn-sm" %>
                </div>
              </td>
            </tr>
            
          <% end %>
        </tbody>
      </table>
      </div>
  </div>
  <div class="d-flex mt-4" style="justify-content:space-between;">
    <div>
      <%= page_entries_info @remboursements, entry_name: "Remboursements" %>
    </div>
    <div>
      <%= paginate @remboursements %>
    </div>
  </div>
</div>

