<div id="<%= dom_id stock %>">
  <p>
    <strong>Debit:</strong>
    <%= stock.debit %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= stock.credit %>
  </p>

  <p>
    <strong>Produit:</strong>
    <%= stock.produit %>
  </p>

  <p>
    <strong>Save by:</strong>
    <%= stock.save_by %>
  </p>

  <p>
    <strong>User:</strong>
    <%= stock.user_id %>
  </p>

</div>
