<div id="<%= dom_id execution %>">
  <p>
    <strong>Service request:</strong>
    <%= execution.service_request_id %>
  </p>
  <p>
    <strong>Service request:</strong>
    <%= execution.user_id %>
  </p>

  <p>
    <strong>Superficie:</strong>
    <%= execution.superficie %>
  </p>

  <p>
    <strong>Preuve:</strong>
    <%= image_tag execution.preuve, style: "width: 100px;" %>
  </p>

</div>
