<div class="container">
  <h2 class="text-center my-4">Nouvelle execution</h2>

  <div class="card shadow-sm">
    <div class="card-body">
      <%= form_with url:upload_identity_card_executions_path, method: :post, html: { enctype: 'multipart/form-data' }, local: true do |form| %>

        <% if @execution.errors.any? %>
          <div class="alert alert-danger">
            <h4>Erreurs</h4>
            <ul>
              <% @execution.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :service_request_id, "Demande de Service", class: "form-label" %>
        
          <%= form.select :service_request_id, 
                      options_for_select(@demandes_validees.map { |h| [h.id, h.id] }), 
                      { prompt: "-- Sélectionnez une demande --" }, 
                      { class: "form-select shadow-sm select-beast", id: "service_request_select"  } %>
        </div>

        <div class="mb-3">
          <%= form.label :superficie, "Superficie Labourée (Ha)", class: "form-label" %>
          <%= form.number_field :superficie, step: 0.01, class: "form-control", id: "superficie_field"  %>
        </div>

        <div class="mb-3">
          <%= form.label :preuve, "Image de Preuve", class: "form-label" %>
           <%= form.file_field :file, class: "form-control", required: true %>
        </div>

        <div class="d-flex justify-content-between">
          <%= link_to 'Retour', executions_path, class: "btn btn-secondary" %>
          <%= form.submit "Créer", class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
  </div>
</div>
<%= javascript_include_tag 'tom_select'%> 
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const serviceRequestSelect = document.getElementById("service_request_select");
  const superficieField = document.getElementById("superficie_field");

  serviceRequestSelect.addEventListener("change", function () {
    const selectedId = this.value;
    console.log("ID sélectionné :", selectedId); // Vérifie l'ID sélectionné

    if (selectedId) {
      fetch(`/service_requests/${selectedId}`, {
        headers: {
          "Accept": "application/json", // Indique au serveur que vous attendez une réponse JSON
        },
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Erreur réseau ou serveur");
          }
          return response.json();
        })
        .then((data) => {
          console.log("Données reçues :", data); // Affiche les données reçues
          if (data.superficie) {
            superficieField.value = data.superficie;
          }
        })
        .catch((error) => {
          console.error("Erreur AJAX :", error);
        });
    } else {
      superficieField.value = ""; // Réinitialise le champ si aucune option n'est sélectionnée
    }
  });
});

</script>