
                <div class="row mt-3">
                    <div class="col-sm-10 col-6">
                        <h4 class="page-title">Profile</h4>
                    </div>

                    <div class="col-sm-2 col-6 text-right m-b-30">
                        <%= link_to 'Modifier Profile', edit_user_path(@user), class: 'btn btn-primary btn-rounded' %>
                    </div>
                </div>
                <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <% if @user.identity_card_photo.present? %>
                                        <div class="profile-img">
                                            <img src="<%= @user.identity_card_photo %>" alt="Photo d'identité de <%= @user.full_name %>" style="max-width: 200px;"/>
                                            <%= image_tag "user.jpg", alt: "Image de profil", class: "avatar"%>
                                    </div>
                                    <%else%>
                                        <div class="profile-img">
                                                <%= image_tag "user.jpg", alt: "Image de profil", class: "avatar"%>
                                        </div>
                                    <%end%>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                <h3 class="user-name m-t-0 mb-0"><%= @user.full_name%></h3>
                                                <small class="text-muted">Actif</small>
                                                <div class="staff-id">Status : <%=@user.role%> </div>
                                                <div class="staff-id">N° CLIENT : <%=@user.code_client%> </div>
                                                <div class="staff-msg"><%= link_to 'Modifier Profile', edit_user_path(@user), class: 'btn btn-primary' %></div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Tél:</span>
                                                    <span class="text">
                                                        <%= @user.phone_number.presence || "Non inscrite" %>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text"><a href="#"><%= @user.email.presence || "Non inscrite" %></a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Village:</span>
                                                    <span class="text"><%= @user.village.presence || "Non inscrite" %></span>
                                                </li>
                                                <li>
                                                    <span class="title">Commune:</span>
                                                    <span class="text"><%= @user.commune || "Non inscrite" %></span>
                                                </li>
                                                <br>
                                                <li>
                                                    <span class="title">Photo:</span>
                                                    <span class="text"><%= @user.identity_card_photo || "Non inscrite" %></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="mb-5"></div>

				
                
            