 <div>
    <h1 class="text-center">Indice de calcul</h1>
 </div>
 
<%#= render 'shared/alert_notif_message'%>  
<%= form_for @indice_setting, url: indice_setting_update_path, method: :put do |f| %>
<div class="custom-container">
  <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="mb-2 col-md-3  col-6 text-center">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">
              Ajout kg par ha par village
          </button>
        </div>
        <div class="card"> 
          <div class="card-header">
            
          </div>
          <div class="card-body"> 
              <div class="form-group row">
                <div class="col-md-12">
                  <h5><strong>Gérant</strong></h5>
                  <hr>
                </div>
                <div class="col-md-4">
                  <h5>Nom du Gérant</h5>   
                </div>
                <div class="col-md-8 mb-3">  
                  <%= f.text_field :gerant_name, autofocus: true, placeholder: "Nom du responsable" , class: "form-control" %>
                </div> 
                <div class="col-md-12">
                  <h5><strong>Information indice remboursement</strong></h5>
                  <hr>
                </div>
                <div class="col-md-4">
                  <h5>Kg percu par Ha labouré</h5>   
                </div>
                <div class="col-md-8">  
                  <%= f.text_field :kg_ha_laboure, autofocus: true, autocomplete: " kg_ha_laboure" , class: "form-control" %>
                </div> 

                <div style="height:25px"></div>
                  <div class="col-md-4">
                  <h5>Prix du labour par ha</h5>
                  
                </div>
                <div class="col-md-8">  
                  <%= f.text_field :valeur_superficie, autofocus: true, autocomplete: "kg maïs par Kg de soja" , class: "form-control" %>
                </div> 

                <div style="height:25px"></div>
                  <div class="col-md-4">
                  <h5>Kg maïs percu pour 1kg de soja</h5>   
                  
                </div>
                <div class="col-md-8">  
                  <%= f.text_field :kg_mais_par_soja, autofocus: true, autocomplete: "kg maïs par Kg de soja" , class: "form-control" %>
                </div> 


                <div style="height:25px"></div>
                  <div class="col-md-4">
                  <h5>Valeur actuelle du soja</h5>   
                 
                </div>
                <div class="col-md-8">  
                  <%= f.number_field :valeur_soja, autofocus: true, autocomplete: "valeur_soja" , class: "form-control" %>
                </div> 

                <div style="height:25px"></div>
                  <div class="col-md-4">
                  <h5>Taux de majoration qté impayé(%)</h5>   
                  
                </div>
                <div class="col-md-8">  
                  <%= f.number_field :taux_majoration, autofocus: true, autocomplete: "taux_majoration" , class: "form-control" %>
                </div> 

              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <h5><strong>Information indice Garantie</strong></h5>
                  <hr>
                </div>
                <div class="col-md-4">
                  <h5>Taux/ha pour garantie (Fcfa)</h5>   
                  
                </div>
                <div class="col-md-8">  
                  <%= f.number_field :garantie_ha, autofocus: true, autocomplete: "garantie_kg" , class: "form-control" %>
                </div> 



                <div style="height:25px"></div>
                  <div class="col-md-4">
                  <h5>Frais de dossier</h5>   
                  
                </div>
                <div class="col-md-8">  
                  <%= f.text_field :frais_dossier, autofocus: true, autocomplete: "frais_dossier" , class: "form-control" %>
                </div> 

              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <h5><strong>Information Kg percu par Ha labouré par village</strong></h5>
                  <hr>
                </div>
                <div class="col-md-12">
                     <% @villages.each do |village_setting| %>
                        <li>
                          <%= village_setting.village %> : <%= village_setting.kg_ha_labouree %> Kg |  <%= link_to "Modifier", edit_village_setting_path(village_setting) %>
                        </li>
                        <hr>
                        
                      <% end %>
                  
                </div>

              </div>

              <div class="row">
                <%= f.submit "Sauvégarder", class: "btn btn-primary" %>
              </div>
              
          </div>
        </div>
    </div>
  </div>
</div>

<% end %>

  <!-- Modal restitution-->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">VILLAGE SETTING</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                  </div>
                  <div class="modal-body" style="text-align: justify;">
                      <!-- Description détaillée -->
                    <%= render "village_settings/form", village_setting: @village_setting %>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  </div>
              </div>
              </div>
          </div>

            <!-- Modal restitution-->
          <div class="modal fade" id="exampleModalLongM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">VILLAGE SETTING</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                  </div>
                  <div class="modal-body" style="text-align: justify;">
                      <!-- Description détaillée -->
                    <%= render "village_settings/form", village_setting: @village_setting %>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  </div>
              </div>
              </div>
          </div>