<div id="<%= dom_id fonctionnement %>">
  <p>
    <strong>User:</strong>
    <%= fonctionnement.user_id %>
  </p>

  <p>
    <strong>Tractor:</strong>
    <%= fonctionnement.tractor_id %>
  </p>

  <p>
    <strong>Campagne:</strong>
    <%= fonctionnement.campagne %>
  </p>

  <p>
    <strong>Cout unitaire:</strong>
    <%= fonctionnement.cout_unitaire %>
  </p>

  <p>
    <strong>Total depense:</strong>
    <%= fonctionnement.total_depense %>
  </p>

</div>
