<div id="<%= dom_id restitution %>">
  
  <p>
    <strong>Agriculteur:</strong>
    <%= restitution.user.full_name %>
  </p>

  <p>
    <strong>Identifiant:</strong>
    <%= restitution.user.code_client %>
  </p>

  <p>
    <strong>Garantie campagne:</strong>
    <%= restitution.year %>
  </p>

  <p>
    <strong>Restitution de:</strong>
    <%= restitution.garantie %>
  </p>

  <p>
    <strong>Restituée par:</strong>
    <%= restitution.restitué_par %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= restitution.created_at %>
  </p>

</div>
