<div class="container mt-2">
  <div class="row mb-4">
    <div class="col text-end">
      <%= link_to "Nouveau restitution", new_restitution_path, class: "btn btn-primary" %>
    </div>
  </div>
    <div class="row justify-content-center">
    <div class="col-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <%= form_with url: restitutions_path, method: :get, local: true, class: "formSearch form-inline" do %>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2">
                        <select name="village" class="form-control search selectVillage" data-action="autosave#save">
                            <option value="">selectionner un village</option>
                            <option value="Sinawourarou" <%= "selected" if params[:village] == "Sinawourarou" %>>Sinawourarou</option>
                            <option value="Bori" <%= "selected" if params[:village] == "Bori" %>>Bori</option>
                            <option value="Pèrèrè" <%= "selected" if params[:village] == "Pèrèrè" %>>Pèrèrè</option>
                            <option value="Bininsi" <%= "selected" if params[:village] == "Bininsi" %>>Bininsi</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2">
                    <select name="year" class="form-control search selectyear" data-action="autosave#save">
                        <option value="">selectionner une année</option>
                        <option value="2025" <%= "selected" if params[:year] == "2025" %>>2025</option>
                    </select>
                  </div>
                    </div>
                  </div>
                  

                  <div class="d-flex" style="justify-content:space-between">
                    <div class="d-flex">
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2  me-2">
                        <%= submit_tag "Rechercher", class: "btn btn-primary" %>
                      </div>
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2">
                        <a href=<%= restitutions_path %> type="bouton" class="btn btn-light">Effacer</a>
                      </div>
                    </div>
                    <div>
                      <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group mt-2  me-2">
                        <%= link_to 'Imprimer Restitution', print_restitution_restitutions_path(request.query_parameters), class: 'copy-btn text-danger'%>
                      </div>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
  </div>
  <div class="card shadow-lg border-0">
    <div class="card-header btn-cdae text-white">
      <h4><i class="fas fa-seedling"></i> Les Restitutions de garantie</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Identifiant</th>
            <th>Agriculteur</th>
            <th>Garantie campagne</th>
            <th>Garantie Restituée</th>
            <th>Restituée par</th>
            <th>Date</th>
            <th>Signature Client</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @restitutions.each_with_index do |restitution, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= restitution.user.identification %></td>
              <td><%= restitution.user.full_name %></td>
              <td><%= restitution.year %></td>
              <td><%= restitution.garantie %></td>
              <td><%= restitution.restitué_par %></td>
              <td><%= restitution.created_at %></td>
              <td></td>
              <td>
                <div class="btn-group" role="group">
                  <%#= link_to 'Voir', restitution_path(restitution), class: "btn btn-info btn-sm" %>
                  <%= link_to 'Modifier', edit_restitution_path(restitution), class: "btn btn-warning btn-sm" %>
                  <%#= link_to 'Supprimer', restitution_path(restitution), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce restitution ?' }, class: "btn btn-danger btn-sm" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
  </div>
  <div class="d-flex mt-4" style="justify-content:space-between;">
    <div>
      <%= page_entries_info @restitutions, entry_name: "restitutions" %>
    </div>
    <div>
      <%= paginate @restitutions %>
    </div>
  </div>
</div>