

  <div class="card shadow-lg">
    <div class="card-body">
      <%= form_with(model: @tractor, local: true) do |form| %>
        <div class="mb-3">
          <%= form.label :name, "Nom du conducteur", class: "form-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Ex : Tracteur X123" %>
        </div>

        <div class="mb-3">
          <%= form.label :user_id, "Propriétaire", class: "form-label" %>
          <% if current_user.admin? %>
            <%= form.collection_select :user_id, User.all, :id, :full_name, { prompt: "Sélectionnez un propriétaire" }, class: "form-select" %>
          <% else %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= text_field_tag :name, current_user.full_name, class: "form-control", disabled: true %>
          <% end %>
        </div>

        <div class="d-flex justify-content-between">
          <%= link_to 'Annuler', tractors_path, class: "btn btn-secondary" %>
          <%= form.submit "Ajouter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
