
      <%= form_for @user, url: users_admin_create_path do |f| %> 
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Nom <span class="text-danger">*</span></label>
                    <%= f.text_field :nom, autofocus: true, class: "form-control", required: true %>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Prénom <span class="text-danger">*</span></label>
                    <%= f.text_field :prenom, autofocus: true, class: "form-control", required: true %>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Telephone <span class="text-danger">*</span></label>
                   <%= f.number_field :phone_number, placeholder: "+22997000000", class: "form-control", required: true  %>
                </div>
            </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label>Email</label>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
          </div>

          <div class="col-sm-6">
              <div class="form-group">
                  <label>Commune*</label>
                   <%= f.select :commune, ["N'Dali", "Pèrèrè", "Sinandé"], { prompt: "Choisissez votre commune" }, class: "form-control", required: true %>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label>Village <span class="text-danger">*</span></label>
                  <%= f.text_field :village, class: "form-control", placeholder: "Entrez votre Village" , required: true %>
              </div>
          </div>
         
          <div class="col-md-6">
                <div class="form-group">
                  <label class="mb-3">Mot de passe</label>
                  <div class="position-relative">
                  <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "Mot de passe", id: "password" %>
                  <button type="button" class="btn btn-outline-secondary btn-sm toggle-password" data-target="#password" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
                    <i class="fa fa-eye"></i>
                  </button> 
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="mb-3">Confirmé Mot de passe</label>
                  <div class="position-relative">
                  <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "confirm-password", placeholder: "Confirmez mot de passe", id: "password_confirmation" %>
                  <button type="button" class="btn btn-outline-secondary btn-sm toggle-password" data-target="#password_confirmation" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
                    <i class="fa fa-eye"></i>
                  </button>
                  </div>
                </div>
              </div>
        
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="mb-3">Role</label>
                  <%= f.select :role, User.roles.keys.map { |role| [role.humanize, role] }, { include_blank: "Sélectionnez un rôle" }, class: "form-control select" %>
                </div>
              </div>

          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :identity_card_photo, 'Photo CIP ou acte de naissance' %>
              <%= f.file_field :identity_card_photo, class: 'form-control' %>
            </div>
          </div>
         
        </div>
        <div class="m-t-20 text-center">
          <%= f.submit "Soumettre", class: "btn btn-primary submit-btn" %>
        </div>
      <% end %>
    